# BTT Manta M8P V2.0 (STM32H723) -- Katapult USB
# source: https://github.com/bigtreetech/Manta-M8P/blob/master/V2.0/Firmware/generic-bigtreetech-manta-m8p-V2_0.cfg
# checked: kalico v2026.07, 2026-07-17
CONFIG_MACH_STM32=y
CONFIG_MACH_STM32H723=y
CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_STM32_FLASH_START_20000=y
CONFIG_STM32_CLOCK_REF_25M=y
CONFIG_STM32_USB_PA11_PA12=y
