# BTT EBB36/42 CAN v1.1/v1.2 (STM32G0B1) -- Katapult CAN
# source: https://github.com/bigtreetech/EBB/blob/master/README.md
# checked: kalico v2026.07, 2026-07-17
CONFIG_MACH_STM32=y
CONFIG_MACH_STM32G0B1=y
CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_STM32_FLASH_START_2000=y
CONFIG_STM32_CLOCK_REF_8M=y
CONFIG_STM32_MMENU_CANBUS_PB0_PB1=y
