# BTT SKR Mini E3 V2.0 (STM32F103) -- SD-card flash
# source: https://github.com/Klipper3d/klipper/blob/master/config/generic-bigtreetech-skr-mini-e3-v2.0.cfg
# source (clock ref 8MHz): https://docs.vorondesign.com/build/software/miniE3_v20_klipper.html
# checked: kalico v2026.07, 2026-07-17
CONFIG_MACH_STM32=y
CONFIG_MACH_STM32F103=y
CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_STM32_FLASH_START_7000=y
CONFIG_STM32_CLOCK_REF_8M=y
CONFIG_STM32_USB_PA11_PA12=y
CONFIG_INITIAL_PINS="!PA14"
