# BTT EBB SB2209/SB2240 CAN V1.0 (STM32G0B1) -- Katapult CAN
# source (mcu/clock/CAN pins): https://github.com/bigtreetech/EBB/blob/master/EBB%20SB2240_2209%20CAN/sample-bigtreetech-ebb-sb-canbus-v1.0.cfg
# source (8KiB Katapult offset): https://github.com/bigtreetech/docs/blob/master/docs/EBB%202240%202209%20CAN.md
# checked: kalico v2026.07, 2026-07-17
CONFIG_MACH_STM32=y
CONFIG_MACH_STM32G0B1=y
CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_STM32_FLASH_START_2000=y
CONFIG_STM32_CLOCK_REF_8M=y
CONFIG_STM32_MMENU_CANBUS_PB0_PB1=y
