# Fysetc Spider v2.x (STM32F446) -- make flash (BOOT0 jumper)
# source: https://docs.vorondesign.com/build/software/spider_klipper.html
# source (factory bootloader/offset): https://github.com/FYSETC/FYSETC-SPIDER/blob/main/README.md
# checked: kalico v2026.07, 2026-07-17
CONFIG_MACH_STM32=y
CONFIG_MACH_STM32F446=y
CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_STM32_FLASH_START_8000=y
CONFIG_STM32_CLOCK_REF_12M=y
CONFIG_STM32_USB_PA11_PA12=y
