# Mellow Fly SHT36 v3 (RP2040) -- Katapult CAN
# source: https://mellow.klipper.cn/en/docs/ProductDoc/ToolBoard/fly-sht36/sht36_v3/flash/can/
# checked: kalico v2026.07, 2026-07-17
CONFIG_MACH_RPXXXX=y
CONFIG_MACH_RP2040=y
CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_RPXXXX_FLASH_START_4000=y
CONFIG_RPXXXX_CANBUS=y
CONFIG_RPXXXX_CANBUS_GPIO_RX=1
CONFIG_RPXXXX_CANBUS_GPIO_TX=0
CONFIG_INITIAL_PINS="!gpio5"
