# Mellow Fly SHT36 v1/v2 (STM32F072) -- Katapult CAN
# source: https://mellow-3d.github.io/fly-sht36_v2_canboot_can.html
# source (v1 confirm): https://docs.meteyou.wtf/mellow-fly-sht-v1/klipper/
# checked: kalico v2026.07, 2026-07-17
CONFIG_MACH_STM32=y
CONFIG_MACH_STM32F072=y
CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_STM32_FLASH_START_2000=y
CONFIG_STM32_CLOCK_REF_8M=y
CONFIG_STM32_MMENU_CANBUS_PB8_PB9=y
