# Raspberry Pi Pico (RP2040) -- make flash (BOOTSEL)
# source (board identity: rp2040, USBSERIAL): https://github.com/Klipper3d/klipper/blob/master/src/rp2040/Kconfig
# source (flash: BOOTSEL + make flash FLASH_DEVICE=first): https://www.klipper3d.org/Measuring_Resonances.html
# checked: kalico v2026.07, 2026-07-17
CONFIG_MACH_RPXXXX=y
CONFIG_MACH_RP2040=y
CONFIG_RPXXXX_FLASH_START_0100=y
CONFIG_RPXXXX_USB=y
